<div class="mt-4">
    <h1>ĐĂNG SẢN PHẨM MỚI</h1>
    <form method="POST" action="/products/store">
        <div class="form-group">
            <label for="exampleInputEmail1">Tên sản phẩm</label>
            <input type="text" class="form-control" name="name" placeholder="Hồng Na xinh đẹp">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">TMô tả</label>
            <input type="text" class="form-control" name="description" placeholder="Hồng Na rất là xinh đẹp!!">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Style</label>
            <input type="text" class="form-control" name="style" placeholder="Ballad">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Youtube ID</label>
            <input type="text" class="form-control" name="youtubeID" placeholder="abcd_xyz_123">
        </div>
 
        <button type="submit" class="btn btn-primary">Đăng sản phẩm</button>
    </form>
</div>