<form action="http://google.com.vn"> 
  <div class="mt-4">
    <label for="exampleInputEmail1">Tìm kiếm trên Google</label>
    <input type="text" name='q' class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nhập từ khóa...">
  </div>
  <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>